* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffcc00;
    --secondary-color: #222222;
    --font-color: #ffffff;
    --btn-hover-color: #f5aa07;
    --btn-text-color: #222222;
    --shadow-color: #00000080;
}
.light-theme{
    --secondary-color:#ffffff;
    --font-color:#070505;
    --btn-hover-color: #222222;
    --btn-text-color: #ffffff;
}
html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: var(--secondary-color);
    color: var(--font-color);
    line-height: 1.6;
    scrollbar-width: none;
    -ms-overflow-style: none;
   
}
body::-webkit-scrollbar {
    display: none;
}

section {
  scroll-margin-top: 40px;
}

.nav-bar {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    padding: 10px 30px;
    z-index: 888;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--primary-color);
    background-color: var(--secondary-color);
    backdrop-filter: blur(10px);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 20%;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 20px;

}

.nav-bar ul li {
    list-style-type: none;
}

.nav-bar a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 15px;
}

.nav-bar a:hover {
    background-color: var(--btn-hover-color);
    color: var(--secondary-color);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: var(--font-color);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--btn-text-color);
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--btn-hover-color);
    color: var(--secondary-color);
}


.hero {
    height: 100vh;
    background: url("../assets/img/salon-hero.webp") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.hero .hero-content {
    width: 100%;
    height: 100%;
    background: var(--shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
    max-width: 600px;
}

.hero .btn {
    font-size: 1.2rem;
    padding: 15px 30px;
}

.services {
    height: auto;
    width: 100%;
    padding: 60px 20px;
    min-width: 400px;
    text-align: center;
}
.service-cards{
    margin-top: 40px;
    display: grid;
    gap: 20px;
    justify-content: center;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(3, 1fr);
}
.service-cards .service-card {
    background-color: var(--font-color);
    color: var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.service-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    background-position: center;
}
#about {
    margin-top: 40px;
    padding: 60px 20px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--font-color);
    font-size: 1.2rem;
}
#about h2 {
    margin-bottom: 20px;
    color: var(--primary-color);
}
#about p {
    max-width: 800px;
    margin: 0 auto;
}
#about .features {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    flex-wrap: wrap;
}
#about .feature {
    background-color: var(--font-color);
    color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(240, 236, 236, 0.1);
}
#about .feature h3 {
    margin-bottom: 10px;
    color: var(--primary-color);
}
.gallery {
    padding: 60px 20px;
    background-color: var(--secondary-color);
    color: var(--font-color);
    text-align: center;
}
.gallery .gallery-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 40px;
}
.gallery .gallery-images img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.gallery .gallery-images img:hover {
    transform: scale(1.05);
}


.footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
.footer .map {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}
.footer .map iframe {
    width: 80%;
    height: 100%;
    border: 0;
    border-radius: 10px;
}
.footer p {
    margin: 0;
}
#contact {
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#contact h3 {
    color: var(--primary-color);
}
#contact p {
    font-size: 1rem;
}
.socials {
    max-width: 300px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.socials a {
    color: var(--primary-color);
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;
}