* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffcc00;
    --secondary-color: #222222;
    --font-color: #ffffff;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333333;
    line-height: 1.6;
    scrollbar-width: none;
    -ms-overflow-style: none;
   
}
body::-webkit-scrollbar {
    display: none;
}

.nav-bar {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    padding: 10px 30px;
    z-index: 888;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 20%;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 20px;

}

.nav-bar ul li {
    list-style-type: none;
}

.nav-bar a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 15px;
}

.nav-bar a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: var(--font-color);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--font-color);
    color: var(--secondary-color);
}


.hero {
    height: 100vh;
    background: url("../assets/img/salon-hero.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--font-color);
}

.hero .hero-content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
    max-width: 600px;
}

.hero .btn {
    font-size: 1.2rem;
    padding: 15px 30px;
}

.services {
    padding: 60px 20px;
    background-color: #f9f9f9;
}