/*fonts can added here*/
:root {
   --main-bg:#fff;
    --primary-color:Red;
    --secondary-color:orange;
    --mute-text:#666363;
}
a{
    color: black;
    text-decoration: none;
    padding: 0px 5px;
}

.max-width-1 {
    max-width: 80vw;

}

.max-width-2 {
    max-width: 60vw;
}
.width-100{
    width: 100px;
}

.m-auto {
    margin: auto;
}
.m-10-auto{
    margin: 10px auto;
}

.flex {
    display: flex;
}
.flex-align-evenly{
    align-items: space-evenly;
}
.flex-align-center{
    align-items: center;
}

.flex-justify-evenly{
    justify-content: space-evenly;
}
.flex-justify-center{
    justify-content: center;
}

.flex-justify-around {
    justify-content: space-around;
}
.flex-col{
    flex-direction: column;
}
.gap-10{
    gap: 10;
}

.btn {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    margin: 0px 4px;
    font-size: 16px; 
    cursor:  pointer;
    background-color: var(--primary-color);
    color:var(--main-bg);

}
.btn:hover{
    background-color: var(--secondary-color);
    color: var(--main-bg);

}

.form-input {
    padding: 6px 10px;
    outline: none;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    border:2px solid #c9cbce;
}
.contact-form{
    width: 80vw;
    
    
}
.contact-form input{
    border-radius: 10px;

}
.contact-form input ,textarea{
    width: 40%;
    padding: 8px 5px;
    font-size: 16px;
    margin: 10px 0px;
    border: none;
    border: 2px solid #bbb6b6;
    outline:none;
}
.text-center{
    text-align: center;
}
.pad-1{
    padding: 10px;
}